In [1]:
print("Welcome to ExcelR!")

Welcome to ExcelR!

In [2]:
"hello"

'hello'

In [3]:
120/12*2-4

16.0

In [4]:
(5-2)*10

30

In [5]:
marks=80
marks

80

In [6]:
type(marks)

int

In [7]:
5**4

625

In [8]:
price=50.5
price   # only shows output of last line
type(price)

float

In [9]:
price=50.5
print(price)   # to see intermediate line's output use print() function
type(price)

50.5

float

In [10]:
name="pooja"
type(name)

str

In [11]:
dir(str)  # all method  that can be applied on string
#_ dunder/magic method(double underscore method which python uses)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [12]:
str1="Welcome to Data Science."
str1.capitalize()

'Welcome to data science.'

In [13]:
str1.upper()

'WELCOME TO DATA SCIENCE.'

In [14]:
str1.lower()

'welcome to data science.'

In [15]:
str1.title()

'Welcome To Data Science.'

In [16]:
food="bIrYAni"
name="pOOjA"
print(food.swapcase())
name.swapcase()

BiRyaNI

'PooJa'

In [17]:
s1="My name is Pooja."
print(s1.split())# list of string is created
s2="Mumbai-Pune-Mumbai"
s2.split("-")

['My', 'name', 'is', 'Pooja.']

['Mumbai', 'Pune', 'Mumbai']

In [18]:
mail="poojaspatil1409@gmai.com"
mail.split("@")

['poojaspatil1409', 'gmai.com']

In [19]:
mail="snehal@excelr.com"
mail.split("@")

['snehal', 'excelr.com']

In [20]:
s1.replace("Pooja","Snehal")

'My name is Snehal.'

In [21]:
# single line comment
'''
multiline comment
'''

'\nmultiline comment\n'

In [22]:
city="SAtara"
city.count("a")

2

In [23]:
"Satara".count("a")

3

In [24]:
name="Pooja"
name*4

'PoojaPoojaPoojaPooja'

In [25]:
n1=5
n1*5

25

In [26]:
name="Pooja"
surname="Patil"
name+surname # concatenates without space

'PoojaPatil'

In [27]:
name="Pooja"
surname="patil"
print(name,surname)

Pooja patil

In [28]:
name + " " +surname

'Pooja patil'

In [29]:
# Conditional Statement
a=30
b=20
if a>b:
  print("a is greater")
  print("In True block")
  c=a+b
  print(c)
else:
  print("b is greater")
  print("In False block")
  c=a*b
  print(c)

a is greater
In True block
50

In [30]:
a=10
b=20
if(a>b):
  print("a is greater")
else:
  print("b is greater")

b is greater

In [31]:
a=200
b=30
if(a>b):
  print(a,"is greater")
else:
  print("greatest number is:",b)

200 is greater

In [32]:
salary=15000
if (salary>20000):
  tax=0.25
  print("Hello from true if")
else:
  tax=0.20
  print("Hello from false if / else")
  print("Bye... outside of if block")
net_sal=salary-tax*salary
print("net salary",net_sal)
# change value of salary as 15000 and executed again

Hello from false if / else
Bye... outside of if block
net salary 12000.0

In [33]:
range(5,10)

range(5, 10)

In [34]:
# for loop
for number in range(5,10): # print number from 5 to 9. Default is 1.
   print(number)
print("Bye")

5
6
7
8
9
Bye

In [35]:
# print number 1 to 10

for i in range(1,11,1):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [36]:
# Q1. print all even numbers from 1 to 20

for i in range(2,21,2):
  print(i)

2
4
6
8
10
12
14
16
18
20

In [37]:
# Q2. print all odd numbers from 1 to 20

for i in range(1,20,2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [38]:
# 'break' statement terminate the loop when condition is satisfied
for i in range(1,11):
   if i==5:
     print("Same")
     break
   else:
     print(i)

1
2
3
4
Same

In [39]:
for num in range(11): # 0 to 9
  print(num, num*num)  # num and its square

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [40]:
for num in range(11): # 0 to 9
  print(num, num*num)  # num and its cube

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [41]:
# range(start,stop,step)
for i in range(1,30,5):
  #print(i)
  print(i,"@")

1 @
6 @
11 @
16 @
21 @
26 @

In [42]:
subject="Science"
for letter in subject:
  print(letter)

S
c
i
e
n
c
e

In [43]:
# print name 3 times on first line, 4 times on 2nd, 5 - 3rd, 6 - 4th line. Range(3,7)
name="pooja"
for i in range(3,7):
  print(name*i)

poojapoojapooja
poojapoojapoojapooja
poojapoojapoojapoojapooja
poojapoojapoojapoojapoojapooja

In [44]:
# print each letter of movie on separate line
movie="Drishyam"
for letter in movie:
  print(letter)

D
r
i
s
h
y
a
m

In [45]:
# change case of each letter 
movie="Drishyam"
for letter in movie:
  #print(letter)
  #print(letter.swapcase())
  print(letter.swapcase(),end="~")

d~R~I~S~H~Y~A~M~

In [46]:
for i in range(1,11):
  if i % 2 == 0:
    print('Even number:',i)
  else:
    print('odd Number:',i)

odd Number: 1
Even number: 2
odd Number: 3
Even number: 4
odd Number: 5
Even number: 6
odd Number: 7
Even number: 8
odd Number: 9
Even number: 10

In [47]:
for i in range(1,11):
  if i % 2 ==0:
    print('Even Number:',i)
for i in range(1,11):
  if i % 2 ==1:
    print('Odd Number:',i)

Even Number: 2
Even Number: 4
Even Number: 6
Even Number: 8
Even Number: 10
Odd Number: 1
Odd Number: 3
Odd Number: 5
Odd Number: 7
Odd Number: 9

In [48]:
print('Even Number:')
for i in range(1,11):
  if i % 2 ==0:
    print(i)
    
print('Odd Number:')
for i in range(1,11):
  if i%2!=0:
    print(i)

Even Number:
2
4
6
8
10
Odd Number:
1
3
5
7
9

In [49]:
status1=True
type(status1)
status2=False
type(status2)

bool

In [50]:
for letter in "Data Science":
  print(letter*4,end=" ")

DDDD aaaa tttt aaaa      SSSS cccc iiii eeee nnnn cccc eeee

In [51]:
len("My Name")

7

In [52]:
len("pooja")

5

In [53]:
marks=[40,55,70,60,80,85,78]
marks

[40, 55, 70, 60, 80, 85, 78]

In [54]:
type(marks)

list

In [55]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [56]:
len(marks)

7

In [57]:
new_marks=sorted(marks)
new_marks

[40, 55, 60, 70, 78, 80, 85]

In [58]:
marks

[40, 55, 70, 60, 80, 85, 78]

In [59]:
marks.sort()
marks

[40, 55, 60, 70, 78, 80, 85]

In [60]:
marks.append(35)
marks

[40, 55, 60, 70, 78, 80, 85, 35]

In [61]:
marks.reverse()
marks

[35, 85, 80, 78, 70, 60, 55, 40]

In [62]:
marks.sort(reverse=True)
marks

[85, 80, 78, 70, 60, 55, 40, 35]

In [63]:
marks.remove(35)
marks

[85, 80, 78, 70, 60, 55, 40]

In [64]:
marks2=[42,64,50,78,87,80]

In [65]:
marks2.sort(reverse=True)
marks2

[87, 80, 78, 64, 50, 42]

In [66]:
marks3=[40,60,50,70,80,85]
marks3.sort(reverse=False)

In [67]:
marks3

[40, 50, 60, 70, 80, 85]

In [68]:
marks

[85, 80, 78, 70, 60, 55, 40]

In [69]:
90 in marks

False

In [70]:
85 in marks

True

In [71]:
40 in marks3

True

In [72]:
list1=[10,20,30]
list2=[40,50,60]
list1+list2

[10, 20, 30, 40, 50, 60]

In [73]:
(list1+list2)*3

[10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60]

In [74]:
# List of strings
list3=["Mango","Apple","Banana","Pinapple","Custard Apple","Strawberry"]
list3

['Mango', 'Apple', 'Banana', 'Pinapple', 'Custard Apple', 'Strawberry']

In [75]:
# Display fruits by changing case of all fruits to uppercase
for fruit in list3:
  print(fruit.upper())

MANGO
APPLE
BANANA
PINAPPLE
CUSTARD APPLE
STRAWBERRY

In [76]:
for fruit in list3:
  print(fruit.lower())

mango
apple
banana
pinapple
custard apple
strawberry

In [77]:
for fruit in list3:
  print(fruit.replace("u","a"),end=" ")

Mango Apple Banana Pinapple Castard Apple Strawberry

In [78]:
# In python Indexing starts with 0
list3

['Mango', 'Apple', 'Banana', 'Pinapple', 'Custard Apple', 'Strawberry']

In [79]:
list3[0]

'Mango'

In [80]:
list3.count("Banana")

1

In [81]:
list3[6]

IndexError: ignored

In [82]:
list3[4]

'Custard Apple'

In [83]:
# slicing
list3[0:4]  # 0,1,2,3

['Mango', 'Apple', 'Banana', 'Pinapple']

In [84]:
list3[1:]  # list6[1:6]

['Apple', 'Banana', 'Pinapple', 'Custard Apple', 'Strawberry']

In [85]:
 # from begining tp pinapple
 list3[:4]

['Mango', 'Apple', 'Banana', 'Pinapple']

In [86]:
# negative indexing:    -1 refers to last element
list3[-1]

'Strawberry'

In [87]:
list3[-4]

'Banana'

In [88]:
list3[-3]

'Pinapple'

In [89]:
# start stop step in slicing
print(list3)
list3[::2]   # 0,2,4,6

['Mango', 'Apple', 'Banana', 'Pinapple', 'Custard Apple', 'Strawberry']

['Mango', 'Banana', 'Custard Apple']

In [93]:
n1=[1:31]

SyntaxError: ignored

In [91]:
n1=list(range(1,31))
print(n1,end=" ")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [92]:
n1[::4]

[1, 5, 9, 13, 17, 21, 25, 29]

In [94]:
n1[::6]

[1, 7, 13, 19, 25]

In [95]:
# print nos from index 2 to 26 with step value of 5
n1[2:27:5]

[3, 8, 13, 18, 23]

In [96]:
print(list3,end=" ")

['Mango', 'Apple', 'Banana', 'Pinapple', 'Custard Apple', 'Strawberry']

In [97]:
list3[::-1]

['Strawberry', 'Custard Apple', 'Pinapple', 'Banana', 'Apple', 'Mango']

In [98]:
list3[::-2]

['Strawberry', 'Pinapple', 'Apple']

In [99]:
list3[::-3]

['Strawberry', 'Banana']

In [100]:
# use of in keyword: search substracting in given word
'the' in 'Netherland'

True

In [101]:
'The' in 'Netherland'

False

In [102]:
'land' in 'Netherland'

True

In [103]:
'Net' in 'Netherland'

True

In [104]:
list3

['Mango', 'Apple', 'Banana', 'Pinapple', 'Custard Apple', 'Strawberry']

In [105]:
list3.append("Mulberry")

In [106]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pinapple',
 'Custard Apple',
 'Strawberry',
 'Mulberry']

In [107]:
# disply fruits which contain substring as "berry" using for loop
for fruit in list3:
  if 'berry' in fruit:
    print(fruit)

Strawberry
Mulberry

In [108]:
# display fruits which contain substring as 'pple' using for loop
for fruit in list3:
  if 'pple' in fruit:
    print(fruit)

Apple
Pinapple
Custard Apple

In [109]:
list3.append("Black berry")

In [110]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pinapple',
 'Custard Apple',
 'Strawberry',
 'Mulberry',
 'Black berry']

In [111]:
# create list4 of fruits list3 having only berry as substring and store ramaining fruits in list5
list4=[]
list5=[]
for fruit in list3:
  if 'berry' in fruit:
    list4.append(fruit)
  else:
    list5.append(fruit)
print(list4,end=" ")
print(list5,end=" ")

['Strawberry', 'Mulberry', 'Black berry'] ['Mango', 'Apple', 'Banana', 'Pinapple', 'Custard Apple']

In [112]:
list4

['Strawberry', 'Mulberry', 'Black berry']

In [113]:
list5

['Mango', 'Apple', 'Banana', 'Pinapple', 'Custard Apple']

In [114]:

# print squares of all numbers of list1 to list2
l1=[2,3,4,5,6]
l2=[]
for i in l1:
  l2.append(i**2)  # l2.append(i*i)
print(l1,end=" ")
print(l2,end=" ")

[2, 3, 4, 5, 6] [4, 9, 16, 25, 36]

In [115]:
# list comprehension - makes your code compact
l1=[2,3,4,5,6]
l2=[i**2 for i in l1]
print(l1,end=" ")
print(l2,end=" ")

[2, 3, 4, 5, 6] [4, 9, 16, 25, 36]

In [116]:
newlist=[fruit for fruit in list3 if 'berry' in fruit]

In [117]:
newlist

['Strawberry', 'Mulberry', 'Black berry']

In [118]:
print(newlist,end=" ")

['Strawberry', 'Mulberry', 'Black berry']

In [119]:

newlist1=[fruit for fruit in list3 if 'berry' not in fruit]

In [120]:
newlist1

['Mango', 'Apple', 'Banana', 'Pinapple', 'Custard Apple']

In [121]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pinapple',
 'Custard Apple',
 'Strawberry',
 'Mulberry',
 'Black berry']

In [122]:
list3.index('Mango')

0

In [123]:
list3.index('Strawberry')

5

In [124]:
list3.index('Mulberry')

6

In [125]:
#lists are Mutable - you can replace items of list
list3[2]="Orange"
list3

['Mango',
 'Apple',
 'Orange',
 'Pinapple',
 'Custard Apple',
 'Strawberry',
 'Mulberry',
 'Black berry']

In [126]:
# Data Structure: 2.TUPLE
#TUPLE ARE NOT MUTABLE i.e. immutable
# created using round brackets ()
t1=(1,2,3,4,5)
t1

(1, 2, 3, 4, 5)

In [127]:
type(t1)

tuple

In [128]:
t3=t1+(6,7,8,9,10)

In [129]:
t3

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [130]:
t1[0]

1

In [131]:
t1[3]

4

In [132]:
t1[-2]

4

In [138]:
t1[-4]

2

In [139]:
t1[0]=7

TypeError: ignored

In [140]:
dir(t1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [141]:
t1.count(1)

1

In [142]:
t1.count(0)

0

In [143]:
t1.index(4)

3

In [144]:
t2=(1,1,1,2,2,6,6,6,6,6)

In [145]:
t2.count(6)

5

In [146]:
# indenxing and slicing with tuple is sama as list
# extracting element of tuple
t1[2]

3

In [147]:
t1

(1, 2, 3, 4, 5)

In [148]:
t1[1:5]

(2, 3, 4, 5)

In [149]:
t1[0:5]

(1, 2, 3, 4, 5)

In [150]:
# data structure:3.Dictionary
Capital_dict={"Nepal": "Kathmandu","Italy":"Roma","England":"London"}
print(Capital_dict)

{'Nepal': 'Kathmandu', 'Italy': 'Roma', 'England': 'London'}

In [151]:
type(Capital_dict)

dict

In [152]:
dir(Capital_dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [153]:
# access the element of dict
Capital_dict["England"]

'London'

In [154]:
# keys( method extract the keys of the dict and returns the list of keys
keys=Capital_dict.keys()
keys

dict_keys(['Nepal', 'Italy', 'England'])

In [155]:
Capital_dict.keys()

dict_keys(['Nepal', 'Italy', 'England'])

In [156]:
# the values() method returns a view object that display a list of all
values=Capital_dict.values()
values

dict_values(['Kathmandu', 'Roma', 'London'])

In [157]:
items=Capital_dict.items()
items

dict_items([('Nepal', 'Kathmandu'), ('Italy', 'Roma'), ('England', 'London')])

In [158]:
add_Capital={"India": "New Delhi","abc":"xyz"}
Capital_dict.update(add_Capital)

In [159]:
Capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Roma',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz'}

In [160]:

Capital_dict.update({"Australia":"Sydney"})
Capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Roma',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz',
 'Australia': 'Sydney'}

In [161]:
# The pop() method removes and returns an element from dict having the given key.
Capital_dict.pop("Australia")

'Sydney'

In [162]:
Capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Roma',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz'}

In [163]:
Capital_dict['abc']=("Mumbai")

In [164]:
Capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Roma',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'Mumbai'}

In [165]:
Capital_dict.popitem()

('abc', 'Mumbai')

In [166]:
Capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Roma',
 'England': 'London',
 'India': 'New Delhi'}

In [167]:
# keys can be of different data types
mylist=["Mango","Orange","Strawberry","Banana","Mulberry","Black berry"]

In [168]:
mytuple=(20,53,45,78,65,97)

In [169]:
mydict={"A":mylist,
        "B":mytuple,
        "C":Capital_dict
        }
mydict

{'A': ['Mango', 'Orange', 'Strawberry', 'Banana', 'Mulberry', 'Black berry'],
 'B': (20, 53, 45, 78, 65, 97),
 'C': {'Nepal': 'Kathmandu',
  'Italy': 'Roma',
  'England': 'London',
  'India': 'New Delhi'}}

In [170]:
mydict['A']

['Mango', 'Orange', 'Strawberry', 'Banana', 'Mulberry', 'Black berry']

In [171]:
mydict['C']

{'Nepal': 'Kathmandu',
 'Italy': 'Roma',
 'England': 'London',
 'India': 'New Delhi'}

In [172]:
mydict['B']

(20, 53, 45, 78, 65, 97)

In [173]:
mydict['A'][3]

'Banana'

In [174]:
mydict['C']['India']

'New Delhi'

In [178]:
# Math functions: can import specific function or all using *
from math import sqrt
sqrt(25)  # raise error as you have not imported

5.0

In [181]:
from math import factorial
factorial(5)

120

In [183]:
from math import sin,cos,tan

In [184]:
sin(90)

0.8939966636005579

In [185]:
tan(60)

0.320040389379563

In [186]:
from math import *
l2=[5,2,3]
prod(l2)

30

In [187]:
# OR you can say 'import math'
# But while calling any function you to use math.function_Name()
# The math.prod() method returns the product of the elements from the given iterable.
import math   # or 'import math as mt',mt.sqrt(64)
sequence = (2, 2,5,6)  # iterable where elements are given
print(math.prod(sequence))

120

In [188]:
import math
l1=[2,3,4]
math.prod(l1)

24

In [189]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']